<!doctype html>
<html>
<head>
	<title>Holidays!</title>
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>


	<h1>US Holidays this month</h1>
	<form>
		<p>Month</p>
		<input name="month" type="number">
		<p>Day</p>
		<input name="day" type="number">
		<p>Year</p>
		<input name="year" type="number" >
		<button type="submit">Submit!</button>
	</form>

	<% if @holidays.any? %>
  		
		<% @holidays.each do |holiday| %>
			<ul>
				<li><%= holiday['name'] %>, <%=holiday['date'] %></li>
			</ul>
		<% end %>
	<% else %>
  	<h3>No results! Try again</h3>
	<% end %>

	

			
</body> 
</html>
