
				<div class="col-md-8">

					<h2>“We can’t know what’s going to happen. We can just try to figure it out as we go along.- Roger Sullivan” </h2>
					<img src="/images/guys.jpg">

					<a href="https://www.google.com/search?q=girls+night+out&biw=1273&bih=701&source=lnms&tbm=isch&sa=X&ei=EAzZVNO_KYaWyATWp4CYBQ&sqi=2&ved=0CAYQ_AUoAQ#tbm=isch&q=guy+trip&imgdii=_imgrc=ZqbFWEjDDTrnBM%253A%3BsUa3Up36JO--AM%3Bhttp%253A%252F%252Fvignette4.wikia.nocookie.net%252Ffamilyguy%252Fimages%252F9%252F97%252F9acx05_041_0116.jpg%252Frevision%252Flatest%253Fcb%253D2011111121
					1830%3Bhttp%253A%252F%252Ffamilyguy.wikia.com%252Fwiki%252FCool_Hand_Peter%3B653%3B367">Image Source</a>
				</div>