
				<div class="col-md-8">
					<h2> Finally FREE!!</h2>

					<img class="img-responsive" src="/images/butterfly.jpg">
					
					<a href="https://www.google.com/search?q=butterfly+set+free&biw=1273&bih=657&noj=1&site=webhp&source=lnms&tbm=isch&sa=X&ei=vA7ZVO2WJoGqyASUs4CgBg&ved=0CAgQ_AUoAQ#imgdii=_&imgrc=wzcG9h9bEbXKLM%253A%3BbEna1s5LyxCyxM%3Bhttp%253A%252F%252Fimages.liveluvcreate.com%252Fcreate%252Fb%252Fbutterfly_set_if_free-96231.jpg%3Bhttp%253A%252F%252Fwww.liveluvcreate.com%252Fimage%252Fbutterfly_set_if_free-96231.html%3B500%3B460">Image Source</a>
				</div>
	