<!doctype html>
<html>
<head>
	<title>Holidays!</title>
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<h1 align="center">US Holidays</h1>
	
				<h2>Holidays this Month</h2>
					<ul>
						<% @holidays.each do |date| %>
							<% date.each do |holiday| %>
							<li><%= holiday['name']%>: <%=holiday['date'] %></li>
							<% end %>
						<% end %>
					</ul>		
			
		
				<h2>Holidays in My Birth Month</h2>
					<ul>
						<% @old_holiday.each do |date| %>
							<% date.each do |holiday| %>
							<li><%= holiday['name']%>: <%=holiday['date'] %></li>
							<% end %>
						<% end %>
					</ul>		
			
</body> 
</html>
